# PLEASE FOLLOW THESE RULES CAREFULLY!
#======================================
# Adding a completely new config variable require no changes except
# adding the variable to default.config

# Changing a variable require a new app/rcfileversion number, and manual
# changing in SolfegeApp.check_rcfile

# Removing a variable has to be done by SolfegeApp.check_rcfile.

# app/rcfileversion 1 was the first config file for solfege 2.0.0
# app/rcfileversion changed to 2 in version 2.1.1 when
#       "example-files" was appended to config/lessoncollections
# app/rcfileversion 3 when sound/commandline was removed
# app/rcfileversion 4 when config/lessoncollections was converted to a list
# app/rcfileversion 5 when config/web_browser was removed
# app/rcfileversion 6 changed three key bindings.
# app/rcfileversion 7 when the changes in rcfileversion 2 was reverted.
# app/rcfileversion 8 was when countin_perc was changed
# app/rcfileversion 9 removed some highest/lowest_tone that is not used
#                     any more
# app/rcfileversion 10 removed lessoncollections and lessonfile from exercises.
# did not increase rcfileversion when the default sound setup changed, since
# it should only change for new installs.
# app/rcfileversion 11 removed rhythm/countin_perc, rhythm/rhythm_perc,
#                      rhythmtapping2/countin_perc and
#                      rhythmtapping2/rhythm_perc
# app/rcfileversion 12 removed sound/card_info
# app/rcfileversion 13:
# removed [lowest|middle|highest]_instrument_velocity variables
# 14: split midi_to_wav, wav_to_mp3 and wav_to_ogg config vars.
# 15: split sound_XXXX_player
# 17: move lesson files and front page files into a standard/ subdirectory
#     of exercises/
# 18: change singinterval|melodicinterval/maximum_number_of_intervals from
#     10 to 12.
# 19: remvoe gui/reserved_vspace
# 20: ????
# 21: IntervalButtonsWidget2 get interval value 1
#
[gui]
expert_mode=false
mainwin_user_resizeable=false
toolbar_visible=true
toolbar_style=icons
navbar_visible=true
navbar_style=icons
menus_have_tearoff=false
reserved_vspace=3

[app]
lc_messages=system default
frontpage=exercises/standard/learningtree.txt
rcfileversion=21
random_function=random_by_random
randomness=1.1
midi_to_wav_cmd=timidity
midi_to_wav_cmd_options=-Ow %(in)s -o %(out)s
wav_to_mp3_cmd=lame
wav_to_mp3_cmd_options=%(in)s %(out)s
wav_to_ogg_cmd=oggenc
wav_to_ogg_cmd_options=%(in)s
win32_ignore_drives=('A:\\', 'B:\\')
set_patch_delay=100

[mainwin]
history_back_ak=<alt>Left
history_forward_ak=<alt>Right
history_reload_ak=<ctrl>r

[programs]
latex=latex
lilypond-book=lilypond-book
csound=csound
mma=mma
text-editor=gedit

[sound]
type=external-midiplayer
device_file=/dev/sequencer2
synth_number=2
wav_player=/usr/bin/aplay
wav_player_options=
midi_player=/usr/bin/timidity
midi_player_options=-idqq %s
mp3_player=/usr/bin/mpg123
mp3_player_options=
ogg_player=/usr/bin/ogg123
ogg_player_options=

[config]
preferred_instrument=0
preferred_instrument_volume=100
highest_instrument_volume=100
middle_instrument_volume=100
lowest_instrument_volume=100
default_bpm=60
arpeggio_bpm=180
picky_on_new_question=true
auto_repeat_question_if_wrong_answer=false
countin_perc=80
rhythm_perc=37

[user]
lowest_pitch=c
highest_pitch=e'
sex=male

[harmonicinterval]

[melodicinterval]
ask_for_intervals_0=[-12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
maximum_number_of_intervals=12

[singinterval]
maximum_number_of_intervals=12
ask_for_intervals_0=[-12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[identifyscale]
slow_bpm=40
default_bpm=60

[idtone]
tone_c_ak=a
tone_cis_ak=w
tone_d_ak=s
tone_dis_ak=e
tone_e_ak=d
tone_f_ak=f
tone_fis_ak=u
tone_g_ak=j
tone_gis_ak=i
tone_a_ak=k
tone_ais_ak=o
tone_b_ak=l
octave-2=false
octave-1=false
octave2=false
octave3=false

[compareintervals]
first_interval_type=harmonic
last_interval_type=harmonic

[elembuilder]
backspace_ak=BackSpace

[solmisation]
backspace_ak=BackSpace

[rhythm]
backspace_ak=BackSpace
rhythm_element_0=true
rhythm_element_1=true
rhythm_element_2=true
rhythm_element_3=true
rhythm_element_4=true
rhythm_element_5=true
rhythm_element_6=true
rhythm_element_7=true
rhythm_element_8=false
rhythm_element_9=false
rhythm_element_10=false
rhythm_element_11=false
rhythm_element_12=false
rhythm_element_13=false
rhythm_element_14=false
rhythm_element_15=false
rhythm_element_16=false
rhythm_element_17=false
rhythm_element_18=false
rhythm_element_19=false
rhythm_element_20=false
rhythm_element_21=false
num_beats=4
count_in=2
not_start_with_rest=true
bpm=60

[rhythmtapping]
accuracy=0.1

[rhythmtapping2]
num_beats=4
count_in=2
not_start_with_rest=true
bpm=60
accuracy=0.1

[identifybpm]
active_bpms=[60, 88, 120]

[interval_input]
minor2=1
major2=q
minor3=a
major3=z
perfect4=2
diminished5=w
perfect5=s
minor6=x
major6=3
minor7=e
major7=d
perfect8=c
minor9=4
major9=r
minor10=f
major10=v

