[Desktop Entry]
Name=GNU Solfege
GenericName=Ear training
GenericName[de]=Gehörtraining
Exec=solfege
Terminal=false
Type=Application
Icon=solfege
Categories=GTK;AudioVideo;Audio;Education;Music;
